{require_otp_vsn, "R1[56]B|17"}.

{erl_opts,[
           {i, "include"}
           %% no_debug_info,
          , debug_info
           %% , warnings_as_errors,
          , warn_obsolete_guard
           %% , warn_unused_import % supress  proper inc warnings
          , clint
          , warn_shadow_vars
          , warn_export_vars
          , {parse_transform, lager_transform}
%%          , {d, 'TEST', true}
          ]}.


%% {sub_dirs, ["apps/mme",
%%             "apps/emm",
%%             "apps/esm",
%%             "apps/rrc",
%%             "rel"]}.

%% {deps_dir, "deps"}.

%% {lib_dirs, ["apps", "deps"]}.


{deps,
 [
  {epc_proto,  ".*",
   {git, "https://github.com/SmallCell/epc_proto.git", 
    {branch, "master"}}},

  {enetconf, ".*",
   {git, "https://github.com/FlowForwarding/enetconf.git", 
    {branch, "master"}}}

  %%  %%   Testing related packages
  %% {nano_trace, ".*",
  %%  {git, "https://github.com/sheyll/nano_trace.git", {branch, "feature/rebar-migration"}}},

  %% {meck, ".*", {git, "https://github.com/eproxus/meck.git",
  %%               {tag, "0.8.2"}}},
  %% {proper,     ".*",
  %%  {git, "https://github.com/manopapad/proper.git", "master"}},
  %% {eunit_fsm,  ".*",
  %%  {git, "https://github.com/SmallCell/eunit_fsm.git", "master"}},
  %%  {git, "https://github.com/ibnHatab/Visualizing-EUnit-tests.git", "master"}}
   ]}.

{eunit_opts, [verbose]}.
{eunit_compile_opts, [{i, "../"}]}.

{cover_enabled, true}.
{cover_print_enabled, true}.

{asn1_opts, []}.

{ct_log_dir, "logs"}.
