


{erl_opts,[
           {i, "include"}
           %% no_debug_info,
          , debug_info
           %% , warnings_as_errors, 	     
          , warn_obsolete_guard
           %% , warn_unused_import % supress  proper inc warnings 
          , clint
          , warn_shadow_vars
          , warn_export_vars           
          ]}.


{sub_dirs, ["apps/mme",
            "apps/emm",
            "apps/esm",
            "apps/rrc",
            "test",
            "rel"]}.

{deps, [
        {nano_trace, ".*", {git, "https://github.com/sheyll/nano_trace.git", {branch, "feature/rebar-migration"}}},
        {epc_proto,  ".*", {git, "https://github.com/SmallCell/epc_proto.git", "master"}},
        {proper,     ".*", {git, "https://github.com/manopapad/proper.git", "master"}},
	{eunit_fsm,  ".*", {git, "https://github.com/SmallCell/eunit_fsm.git", "master"}},
	{eunit_viz,  ".*", {git, "https://github.com/ibnHatab/Visualizing-EUnit-tests.git", "master"}}

        
   ]}.

{cover_enabled, true}.

{asn1_opts, []}.

